<div class="">
  <br><br><br><br>
<h3>Full Balance: <span>{{model.balance}}</span></h3>
<br><br>
<label for="description">description: </label> <input [(ngModel)]="model.description" type="text" name="" value="">
<br><br>
<label for="amount">amount</label> <input [(ngModel)]="model.amount" type="text" name="" value="">
<br><br>
<br><br>
<label for="receiver">receiver</label><input [(ngModel)]="model.receiver" type="text" name="" value="">
<br><br>
<button [routerLink]="['/viewRequests']" (click)=sendRequest() type="button" name="button">send request</button>
</div>
