#about {
  background-color: #37474F;
}
.intro {
  width: 100%;
}

.SpotLight {
  font-size: 80px
}
h1 {

  color: white;
}
p {
  color: white;

}
.member-info{
  height: 350px;
  width: 350px;
  border-radius: 50%;
  border: 2px solid #04a9f4cf;
  box-shadow: 0px 0px 70px #04a9f4;
}

.aboutUs{
  text-align: center;
  color: white;
  width: 100%;
}
