

<nav class="navbar ">
  <a class="nav-link" [routerLink]="['/home']">DonateDapp</a>
  <!-- <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
  <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button> -->
  <div class="fadeIn">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item" *ngIf="isLogged">
        <a  [routerLink]="['/profile']" class="nav-link" (click)="fadeClick()">Profile</a>
      </li>
      <li class="nav-item" *ngIf="isLogged">
        <a [routerLink]="['/viewRequests']" class="nav-link" (click)="fadeClick()">requests</a>
      </li>
      <li class="nav-item" *ngIf="isLogged">
        <a (click)="logout()" class="nav-link" >log out</a>
      </li>
    </ul>
  </div>
  <a *ngIf="!isLogged" style="color : white ; position:absolute ; left:95%" (click)="openLogin()" class="nav-link" >Login</a>
  <div class="circle" (click)="fadeClick()" *ngIf="isLogged"></div>
</nav>
<div class="alert alert-warning alert-dismissible" role="alert" *ngIf="message !== ''">
    <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
    {{message}}
</div>
