
<nav class="navbar">
  <a class="nav-link" [routerLink]="['/home']" style="font-family: 'Courgette';font-size: 22px;">DonateDapp</a>
  <a *ngIf="!isLogged" style="color: white;position:absolute ; left:95%" (click)="openLogin()">Login</a>
  <div class="fadeIn">
    <ul>
      <li>
        <a  [routerLink]="['/profile']" (click)="fadeClick()">Profile</a>
      </li>
      <li>
        <a [routerLink]="['/viewRequests']" (click)="fadeClick()">requests</a>
      </li>
      <li>
        <a (click)="logout()" class="nav-link" >log out</a>
      </li>
    </ul>
  </div>
  <div class="circle" (click)="fadeClick()" *ngIf="isLogged" style="background-image: url('https://i.imgur.com/hvctU41.jpg');"></div>
</nav>
<div class="alert alert-warning alert-dismissible" role="alert" *ngIf="message !== ''">
  <button type="button" class="close" data-dismiss="alert" aria-label="Close">
    <span aria-hidden="true">&times;</span>
  </button>
  {{message}}
</div>
