
<nav Class="navbar fixed-top scrolling-navbar" style="background-color:rgb(0,0,0,0.5);height:50px">
  <a class="nav-link" [routerLink]="['/home']" style="font-family: 'Courgette';font-size: 22px;">DonateDapp</a>
  <a *ngIf="!isLogged" style="color: white;position:absolute ; left:95%" (click)="openLogin()">Login</a>
  <div class="fadeIn">
    <ul>
      <li>
        <a  [routerLink]="['/profile']" (click)="fadeClick()">Profile</a>
      </li>
      <li>
        <a [routerLink]="['/viewRequests']" (click)="fadeClick()">requests</a>
      </li>
      <li>
        <a (click)="logout()" >log out</a>
      </li>
    </ul>
  </div>
  <div class="circle" (click)="fadeClick()" *ngIf="isLogged" [style.backgroundImage]=" 'url('+ userInfo.image +')' "></div>
</nav>
<div class="alert alert-warning alert-dismissible" role="alert" *ngIf="message !== ''">
    <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
    {{message}}
</div>
