.example-container {
  display: flex;
  flex-direction: column;
}

.example-container > * {
  width: 100%;
}

.example-right-align {
  text-align: right;
}

input.example-right-align::-webkit-outer-spin-button,
input.example-right-align::-webkit-inner-spin-button {
  display: none;
}

input.example-right-align {
  -moz-appearance: textfield;
}

h2 {
  color: #444;
  text-align: center;
  font-family: Arial;

}


h3 {
  font-family: Arial;
  text-align: center;
  color: #444;
}


.body {
  margin: 100px;

  padding: 100px;
  border-radius: 20px;
  border-color: cyan;
  border-width: 3px;
  background: linear-gradient(45deg, rgba(245, 250, 255, 0.3), rgba(245, 240, 250, 0.8) 100%);

}
