<div id="fullComponent">
    <mat-accordion>

      <mat-expansion-panel (opened)="panelOpenState = true"
                           (closed)="panelOpenState = false">
        <mat-expansion-panel-header>
          <mat-panel-title>
            Name (Full name)
          </mat-panel-title>
          <mat-panel-description>
            {{ panelOpenState ? 'change your data' : model.fullName }}
          </mat-panel-description>
        </mat-expansion-panel-header>
        <mat-form-field appearance="outline">
          <mat-label>Full name</mat-label>
          <input matInput [(ngModel)]="model.fullName">
        </mat-form-field>
      </mat-expansion-panel>

      <mat-expansion-panel (opened)="panelOpenState = true"
                           (closed)="panelOpenState = false">
        <mat-expansion-panel-header>
          <mat-panel-title>
            Email Address
          </mat-panel-title>
          <mat-panel-description>
            {{ panelOpenState ? 'change your data' : model.email }}
          </mat-panel-description>
        </mat-expansion-panel-header>
        <mat-form-field appearance="outline">
          <mat-label>Email</mat-label>
          <input matInput [(ngModel)]="model.email">
        </mat-form-field>
      </mat-expansion-panel>

      <mat-expansion-panel (opened)="panelOpenState = true"
                           (closed)="panelOpenState = false">
        <mat-expansion-panel-header>
          <mat-panel-title>
            Phone number
          </mat-panel-title>
          <mat-panel-description>
            {{ panelOpenState ? 'change your data' : model.phoneNumber1 }}
          </mat-panel-description>
          <mat-panel-description>
            {{ panelOpenState ? '' : model.phoneNumber2 }}
          </mat-panel-description>
        </mat-expansion-panel-header>
        <mat-form-field appearance="outline">
          <mat-label>First Phone number</mat-label>
          <input matInput [(ngModel)]="model.phoneNumber1">
        </mat-form-field>
        <mat-form-field appearance="outline">
          <mat-label>Second Phone number</mat-label>
          <input matInput [(ngModel)]="model.phoneNumber2">
        </mat-form-field>
      </mat-expansion-panel>

      <mat-expansion-panel (opened)="panelOpenState = true"
                           (closed)="panelOpenState = false">
        <mat-expansion-panel-header>
          <mat-panel-title>
            Address
          </mat-panel-title>
          <mat-panel-description>
            {{ panelOpenState ? 'change your data' : model.address }}
          </mat-panel-description>
        </mat-expansion-panel-header>
        <mat-form-field appearance="outline">
          <mat-label>Address</mat-label>
          <input matInput [(ngModel)]="model.address">
        </mat-form-field>
      </mat-expansion-panel>

      <mat-expansion-panel (opened)="panelOpenState = true"
                           (closed)="panelOpenState = false">
        <mat-expansion-panel-header>
          <mat-panel-title>
            Overview
          </mat-panel-title>
          <mat-panel-description>
            {{ panelOpenState ? 'change your data' : 'your overview' }}
          </mat-panel-description>
        </mat-expansion-panel-header>
        <mat-form-field>
          <textarea matInput placeholder="Edit your overview" [(ngModel)]="model.overview"></textarea>
        </mat-form-field>
      </mat-expansion-panel>
    </mat-accordion>
    <button mat-raised-button (click)="profile()" class="btn btn-success" color="primary">Submit</button>
  </div>
