
  <section class="view intro-2 rgba-gradient">
        <div class="full-bg-img mask">
            <div class="container flex-center">
                <div class="row flex-center pt-5 mt-3 w-100">
                    <div class="col-md-6 text-center text-md-left margins">
                      <div id="fullComponent">
                          <mat-accordion>

                            <mat-expansion-panel (opened)="panelOpenState = true"
                                                 (closed)="panelOpenState = false">
                              <mat-expansion-panel-header>
                                <mat-panel-title>
                                  Name (Full name)
                                </mat-panel-title>
                                <mat-panel-description>
                                  {{ panelOpenState ? 'change your data' : model.fullName }}
                                </mat-panel-description>
                              </mat-expansion-panel-header>
                              <mat-form-field appearance="outline">
                                <mat-label>Full name</mat-label>
                                <mat-icon matSuffix><i class="fa fa-user-circle-o" aria-hidden="true"></i></mat-icon>
                                <input matInput [(ngModel)]="model.fullName">
                              </mat-form-field>
                            </mat-expansion-panel>

                            <mat-expansion-panel (opened)="panelOpenState = true"
                                                 (closed)="panelOpenState = false">
                              <mat-expansion-panel-header>
                                <mat-panel-title>
                                  Email Address
                                </mat-panel-title>
                                <mat-panel-description>
                                  {{ panelOpenState ? 'change your data' : model.email }}
                                </mat-panel-description>
                              </mat-expansion-panel-header>
                              <mat-form-field appearance="outline">
                                <mat-label>Email</mat-label>
                                <mat-icon matSuffix><i class="fa fa-envelope prefix grey-text"></i></mat-icon>
                                <input matInput [(ngModel)]="model.email">
                              </mat-form-field>
                            </mat-expansion-panel>

                            <mat-expansion-panel (opened)="panelOpenState = true"
                                                 (closed)="panelOpenState = false">
                              <mat-expansion-panel-header>
                                <mat-panel-title>
                                  Phone number
                                </mat-panel-title>
                                <mat-panel-description>
                                  {{ panelOpenState ? 'change your data' : model.phoneNumber1 }}
                                </mat-panel-description>
                                <mat-panel-description>
                                  {{ panelOpenState ? '' : model.phoneNumber2 }}
                                </mat-panel-description>
                              </mat-expansion-panel-header>
                              <mat-form-field appearance="outline">
                                <mat-label>First Phone number</mat-label>
                                <mat-icon matSuffix><i class="fa fa-mobile-phone" aria-hidden="true"></i></mat-icon>
                                <input matInput [(ngModel)]="model.phoneNumber1">
                              </mat-form-field>
                              <mat-form-field appearance="outline">
                                <mat-label>Second Phone number</mat-label>
                                <mat-icon matSuffix><i class="fa fa-phone" aria-hidden="true"></i></mat-icon>
                                <input matInput [(ngModel)]="model.phoneNumber2">
                              </mat-form-field>
                            </mat-expansion-panel>

                            <mat-expansion-panel (opened)="panelOpenState = true"
                                                 (closed)="panelOpenState = false">
                              <mat-expansion-panel-header>
                                <mat-panel-title>
                                  Address
                                </mat-panel-title>
                                <mat-panel-description>
                                  {{ panelOpenState ? 'change your data' : model.address }}
                                </mat-panel-description>
                              </mat-expansion-panel-header>
                              <mat-form-field appearance="outline">
                                <mat-label>Address</mat-label>
                                <mat-icon matSuffix><i class="fa fa-address-card-o" aria-hidden="true"></i></mat-icon>
                                <input matInput [(ngModel)]="model.address">
                              </mat-form-field>
                            </mat-expansion-panel>

                            <mat-expansion-panel (opened)="panelOpenState = true"
                                                 (closed)="panelOpenState = false">
                              <mat-expansion-panel-header>
                                <mat-panel-title>
                                  Overview
                                </mat-panel-title>
                                <mat-panel-description>
                                  {{ panelOpenState ? 'change your data' : 'your overview' }}
                                </mat-panel-description>
                              </mat-expansion-panel-header>
                              <mat-form-field>
                                <mat-icon matSuffix><i class="fa fa-pencil prefix grey-text"></i></mat-icon>
                                <textarea matInput placeholder="Edit your overview" [(ngModel)]="model.overview"></textarea>
                              </mat-form-field>
                            </mat-expansion-panel>
                          </mat-accordion>
                          <br>
                          <button  (click)="profile()" class="btn btn-outline-white wow fadeInLeft waves-light" data-wow-delay="0.3s" mdbWavesEffect color="primary">Submit</button>
                        </div>
                    </div>

                    <div class="col-md-6 wow fadeInRight d-flex justify-content-center" data-wow-delay="0.3s">
                      <div class="text-center">
                        <img src={{model.image}} class="avatar img-circle" alt="avatar">
                        <br>

                        <h6>Upload a different photo...</h6>
                        <input id="f" type="file" class="form-control" (change)="photoUpload($event)">
                      </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
