.profileImage{
  width: 70px;
  height: 70px;
  border-radius: 50px;
}
#fullComponent{
  margin-top: 60px;
}
.intro-2 {
    background: url("https://mdbootstrap.com/img/Photos/Others/architecture.jpg")no-repeat center center;
    background-size: cover;
}
.view {
    height: 100vh !important;
}
.btn .fa {
    margin-left: 3px;
}

h6 {
    line-height: 1.7;
}
.rgba-gradient .full-bg-img {
    background: linear-gradient(45deg, rgba(42, 27, 161, 0.6), rgba(29, 210, 177, 0.6) 100%);
}

.mat-expansion-panel{
  background-color: rgb(255,255,255,0.4);
}
.img-circle {
    border-radius: 50%;
    vertical-align: middle;
    margin-left: 110px;
}
#f{
  background-color: rgb(255,255,255,0.4);
}

.profileImage{
  width: 100px;
  height: 100px;
  border-radius: 50px;
}
