.postImage{
  width: 80px;
}
.row{
  margin:5% 5% 5% 5%;
}

.mat-card {
  width: 400px;
  height: 400px;
  padding: 0;
  margin: 30px;
  text-align: center;
}

.cardHead{
  background-repeat: no-repeat;
  background-size: cover;
  height: 150px;
  max-width: 400px;
  width: auto;
}
.userImg {
  border: 2px solid ;
  outline: none;
  border-color: rgb(240, 240, 240,0.5);
  box-shadow: 0px 0px 40px blue;
  height: 100px;
  width: 100px;
  border-radius: 50%;
  background-size: cover;
  position: absolute;
  top: 100px;
  left: 38%;
}
.cardButtom {
  padding: 10%;
  position:relative;
  top:25px
}
h3{
  font-weight: bold;
}
.amounTable{
  position:relative;
  left: 23%;
}
.face2{
  padding :5% 10% 5%  10%;
}
